<div class="col-xs-12 pull-right">
    <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="getPrductionLinesSnapshot()">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
</div>
<div class="col-xs-6">
    <h3 class="sub-header">
        Current Status
    </h3>
    <div class="table-responsive">
        <table class="table  table-bordered table-responsive" style="margin-bottom: 0px">
            <thead>
                <tr ng-repeat="productinLine in queues.data |limitTo:1">
                    <th class="col-md-1">
                        #
                    </th>
                    <th class="col-md-2">
                        Line
                    </th>
                    <th class="col-md-2">
                        Queue
                    </th>
                    <th class="col-md-2" data-ng-repeat="phase in productinLine.phases" ng-if="phase.enabledInProductionQueue">
                        {{phase.code}}
                    </th>
                    <th class="col-md-3">
                        Over Flow
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productinLine in queues.data track by $index">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        {{productinLine.lineName}}
                    </td>
                    <td>
                        {{productinLine.jobsInQueue}}
                    </td>
                    <td ng-repeat="phase in productinLine.phases" ng-if="phase.enabledInProductionQueue">
                        {{phase.noOfJobs}}
                    </td>
                    <td>
                        {{productinLine.overFlow}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="progress progress-striped" ng-hide="progHide" style="width: 100%; height: 2px;
            margin-top: 0px !important;">
            <div class="progress-bar progress-bar-danger" style="width: {{progWidth}}%">
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6">
    <h3 class="sub-header">
        12:00 - 01:00</h3>
    <div class="table-responsive">
        <table class="table  table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="col-md-1">
                        #
                    </th>
                    <th class="col-md-2">
                        Header
                    </th>
                    <th class="col-md-3">
                        Header
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-1">
                        1,001
                    </td>
                    <td class="col-md-2">
                        1,001
                    </td>
                    <td class="col-md-3">
                        1,001
                    </td>
                </tr>
                <tr>
                    <td class="col-md-1">
                        1,001
                    </td>
                    <td class="col-md-2">
                        1,001
                    </td>
                    <td class="col-md-3">
                        1,001
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-4">
        <h3>
            Log</h3> 
    </div>
    <div class="col-xs-8">
        <h3 class="pull-right">
            <button type="button" class="btn btn-primary btn-sm" ng-click="runLog()" ng-disabled="enableLog">
                <span class="glyphicon glyphicon-play">Run</span>
            </button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="pauseLog()" ng-disabled="!enableLog">
                <span class="glyphicon glyphicon-pause">Pause</span>
            </button>
        </h3>
    </div>
    <div class="col-xs-12">
        <div class="alert alert-warning" ng-repeat="message in messages" style="margin-bottom: 1px">
            <small style="color: Black">{{message.time}} <strong>&#x21E8; <span data-ng-bind-html="message.text">
            </span></strong></small>
        </div>
    </div>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <pre>
    newVal={{nnnn|json}}
</pre>
        </div>
        <div class="col-xs-6">
            <pre>
   oldVal= {{oooo|json}}
</pre>
        </div>
    </div>
